*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;

    overflow-x: hidden;
}
/* container styling */
.container{
    
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
}


/* header */







/* login page */
.container .main-login{
    display: flex;
    justify-content: center;
    
}
.btn-line{
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.btn-line span{
    margin-top: 45px;
}


@media only screen and (max-width: 600px) {
    .container{
    
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: #f5f5f5;
        overflow-x: hidden;
    }

}